.navHeader {
    /* border: 2px solid red; */
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;

}

.navHeader img {
    /* border: 2px solid green; */
    height: 80px;
}

.registration {
    /* border: 2px solid purple; */
    height: fit-content;
    gap: 10px;
}

.registration button {
    border: none;
    margin-left: 10px;
    background-color: white;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
    height: fit-content;
  }
  
  .login-modal, .register-modal {
    background-color: #fefefe;
    color: teal;
    margin: 15% auto; 
    padding: 20px;
    border: 2px solid #80baab;
    width: 80%;
    border-radius: 15px;
    /* background-color: #80baab; */
    /* border: 2px solid red; */
  }
  

  .exit-btn:hover{
    color:red;
    cursor: pointer;
    text-align: end;
  }
  .exit-btn{
    color:grey;
    cursor: pointer;
    width: 100%;
    margin-bottom:20px;
  }

