.login {
    /* border: 2px solid pink; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 15px;
}

#formInput{
    border: none;
    border-bottom: 1px solid grey;
    outline:none;
    /* background-color:#80baab; */
}
#formInput:hover{
    border-bottom: 1px solid #80baab;
}

#formInput:focus{
    outline:none
}

#submit:hover{
    background-color: whitesmoke;
    border-radius: 15px;
    width: fit-content

}
#submit{
    width: fit-content;
    align-self: center
}


