.setBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.setBtn button {
    width: 30%;
    border: none;
    background-color: white;
}
.setBtn button:hover {
    width: 30%;
    color: teal;
    border: none;
    background-color: whitesmoke;
    border-radius: 15px;
}

