
  .container_v {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .box {
    box-shadow: -4px 10px 35px -1px rgba(0, 0, 0, 0.75);
    min-height: 20rem;
    margin: 10px 30px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
  }
  
  .record {
    cursor: pointer;
  }
  
  .e-btn {
    float: right;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background: transparent;
  }
.Voice {
    text-align: center;
  }
  
  .Voice-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Voice-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .Voice-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Voice-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  
  .saveBtn {
    border: none;
    margin-top: 20px;
    color: rgb(26, 191, 191);
    font-size: 25px;
    background-color: white;
    padding: 8px;
    border-radius: 20px;
  }

  

  
