.s-container {
    max-width: 900px;
    margin: 1rem 2rem;
}

.s-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    padding: 0 1.5rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
}

.form-group {
    margin: .5rem;
    flex-direction: column;
    margin: .5rem
}

.form-group > label {
    color: #777;
    font-size: .75rem;
    margin-bottom: .25rem;
}

.btn {
    background-color: hsl(200, 100%, 50%);
    color: white;
    padding: .5em 1em;
    border-radius: .3em;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: hsl(200, 100%, 40%);
}

.s-card-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.s-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    background-color: white;
    transform-style: preserve-3d;
    transition: 150ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}

.s-card:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.s-card.flip {
    --rotate-y: 180deg;
}

.s-card .s-front {
    left: 0;
}

.s-card .s-front,
.s-card .s-back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
}

.s-card .s-back {
    transform: rotateY(180deg);
}

.flashcard-options {
    margin-top: .5rem;
}

.flashcard-option {
    margin-top: .25rem;
    color: #555;
    font-size: .75rem;
}

.flashcard-option:first-child {
    margin-top: 0;
}

.s-btn button {
    background: var(--primary);
    border: 0;
    color: #fff;
    margin: 5px;
    font-family: "Poppins";
    border-radius: 4px;
    cursor: pointer;
}
