.homepage {
    /* border: 2px solid red; */
    /* height: fit-content; */
}
.home {
    border-top: 2px solid whitesmoke;
    height:1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    background-color:aliceblue;
}

.home-create, .home-edit, .home-test {
    /* border: 2px solid green; */
    /* height: 100%; */
    margin: 50px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;

}


.home-create p, .home-edit p, .home-test p{
    /* border: 2px solid black; */
    width: 30%;
    align-self: center;
    font-size: 20px;

}
.home-create img, .home-edit img, .home-test img{
    background-color: white;
    width: 20%

}

.home-edit img{
    width: 40%
}

.home-test img{
    width: 25%
}
