.clubView {
    margin: 10px 15vw;
}


#newSet{
    font-size :20px;
    color: teal;
    background-color: white;
    border: none;
}

.newSet{
    align-self: flex-end
}

.clubs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
