.card-grid{
    /* border: 2px solid plum; */
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    gap: 20px;
}

.main {
    /* border: 2px solid red; */
    height: fit-content;
    width: 100vw;
    margin-top: 10px;
    margin-bottom: 0px;
}
