.card-grid{
    /* border: 2px solid plum; */
    width: 70%;
    height: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    /* gap: 20px; */
}

#mainGame {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    height: 100vh;
    /* width: 100%;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 0px; */
}

#endBtn{
    position: absolute;
    height: 10%;
    margin: 30vh;
    border: none;
    color: green;
    border-bottom: 2px solid teal;
    background-color: white;
    padding: 30px 30px;
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
}


