.register {
    /* border: 2px solid pink; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 16px;
    font-family:'poppins';
}

.formInput{
    border: none;
    border-bottom: 1px solid grey;
    outline:none;
}
.formInput:hover{
    border-bottom: 1px solid teal;
}

.formInput:focus{
    outline:none
}

#submitSignup:hover{
    background-color: whitesmoke;
    border-radius: 15px;
    width: fit-content

}
#submitSignup{
    width: fit-content;
    align-self: center;
    margin: 10px;
    color:grey;
}


