
*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 170px;
}

#footer {
    position: absolute;
    bottom: 0px; left: 0;
    width:100%;
    height:30px;
    text-align: center;
    background:whitesmoke;
}
