#Cards {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aliceblue;
}

#arrow {
    font-size: 40px;
    cursor: pointer;
    color: rgb(141, 178, 212);
}

#Cards h3 {
    position: absolute;
    color: rgb(141, 178, 212);
    text-align: center;
    height: fit-content;
    margin-bottom: 30px;
}
#card {
    margin-top:20px;
}

#leave{
    align-self: flex-start;
}
